ul{
    list-style: none;
}
html,body{
    height:100%;
    background:#caddeb;
    overflow:hidden;
}
body{
    position: relative;
    z-index: -2;
}
.sly-bg{
    width:100%;
    height:2.25rem;
    background:url("../register/images/tx.png")center center/cover no-repeat;
    position: absolute;
    bottom:0;
    left:0;
    z-index: -1;
}
.sly-return{
    width:100%;
    height:.58rem;
    background:url("images/zyp_goback.png") .24rem center no-repeat /contain;
    margin-left: .24rem;
    margin-top: .18rem;
    position:relative;
    display: block;
}
.sly-wel{
    width:5.18rem;
    margin:.66rem auto 0;
    line-height: .42rem;
    padding-left:.34rem ;
}
.sly-one{
    color:#fff;
    font-size: .28rem;
}
.sly-one>i,.sly-one>b{
    font-style: normal;
    display:inline-block;
    width:0.12rem;
    height:0.12rem;
    border-radius: 50%;
    margin: 0 0.05rem;
}
.sly-one>i{
    background:#00c0ff;
    margin-left: 0.5rem;
}
.sly-one>b{
    background:#fffc18;
}
.sly-one>span{
    color:#f60b26;
}
.sly-two{
    color:#fff;
    font-size: .22rem;
}
.line{
    width:5.18rem;
    margin:0 auto;
    height:1px;
    margin: 0.15rem 0;  
    border-bottom: 1px dashed #48dc98;
}
.line:before{
    content:"";
    display:block;
    width:.04rem;
    height:0.04rem;
    border-radius: 50%;
    background:#f6093b;
    float:left;
}
.line:after{
    content:"";
    display:block;
    width:.04rem;
    height:0.04rem;
    border-radius: 50%;
    background:#f6093b;
    float:right;
}
.sly-three{
    color:#fff; 
}
.sly-three:after{
    content:"";
    display:block;
    clear:both;
}
.sly-wel:after{
    content:"";
    display:block;
    clear:both;
}
.span1{
    font-size: .26rem;
    float:left;
}
.span2{
    font-size: .16rem;
    float:right;
}

.sly-btnbox{
    width:6.6rem;
    height:0.9rem;
    margin: 0.8rem auto 0;
    color:#fff;
    text-align: center;
}

.sly-center{
    border:1px solid transparent;
    width:3.28rem;
    height:0.9rem;
    background:url("../../../images/redbtn.png") center center/cover no-repeat;
    margin:0 auto;
}
.sly-center a{
    font-size: 0.26rem;
    color: #fff;
    display:block;
    width: 100%;
    height: 100%;
    line-height: 0.9rem;
    text-align: center;
}
/*********头部题目*************/
.lhy-title{
    width: 2.1rem;
    height: .5rem;
    position:absolute;
    top:0;
    left:2.69rem;
    position:relative;
}
.lhy-title:before{
    width: .06rem;
    height: .06rem;
    border-radius: 50%;
    background: #ffeb3d;
    content:"";
    position:absolute;
    top:.3rem;
   /*margin-top:-0.03rem;*/
    left:0;
}
.lhy-title:after{
    width: .06rem;
    height: .06rem;
    border-radius: 50%;
    background: #ffeb3d;
    content:"";
    position:absolute;
    top:.3rem;
    margin-top:-0.03rem;
    right:0;
}
.lhy-title h3{
    width: 100%;
    height: .3rem;
    color:#fff;
    font-size:.32rem;
    text-align: center;
    line-height: .3rem;
}
.lhy-title h4{
     width: 100%;
    height: .3rem;
    color:#fff;
    font-size:.18rem;
    text-align: center;
    line-height: .3rem;
}
/*********content***************/
.lhy-mood-content{
    width: 7.01rem;
    height: auto;
    background: #fff;
    border-radius:10px;
    margin:.53rem auto 0;
    overflow: hidden;
    padding-bottom:.5rem;
}
.lhy-mood{
    width: 100%;
    height: .86rem;
    margin-top:.45rem;
}
.lhy-mood img{
    width: .86rem;
    height: .86rem;
    display: block;
    float:left;
    margin-left:2.49rem;
}
.lhy-mood span:nth-child(2){
    display: block;
    float: left;
    line-height: .86rem;
    color:#f60d5f;
    font-size:.5rem;
    margin-left:.4rem;
}
.lhy-mood span:nth-child(3){
    float:left;
    color:#606060;
    font-size:.2rem;
    margin-left:.17rem;
    margin-top:.38rem;
}
.lhy-line{
    width: 2.7rem;
    height: 1px;
    margin:.23rem auto .58rem;
    border-top:1px dashed #d7d6d6;
    position:relative;
}
.lhy-line:before,.lhy-line:after{
    width:.08rem;
    height: .08rem;
    background: #21dbcc;
    border-radius: 50%;
    position:absolute;
    top:-0.04rem;
    left:0;
    content:""; 
}
.lhy-line:after{
    left:auto;
    right:0;
}
.lhy-mood-content h3{
    width: 100%;
    line-height: .24rem;
    font-size:.24rem;
    color:#4f4b4b;
    text-align: center;
}
.lhy-mood-content h3 b{
    color:#f30f50;
}
.lhy-mood-content h4{
    width: 100%;
    line-height: .42rem;
    font-size:.22rem;
    color:#676363;
    padding:0 .75rem;
    box-sizing:border-box;
    text-align: center;
    margin-top:.3rem;
}
/*************头像*****************/
.lhy-photo{
    width: 100%;
    height:.81rem;
    padding-left:.5rem;
    box-sizing:border-box;
    margin-top:.5rem;
}
.lhy-photo-left{
    width: 5.43rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float:left;
}
.lhy-photo-left li,.lhy-photo-left li img{
    width: .81rem;
    height: .81rem;
    border-radius: 50%;
    display: block;
}
.lhy-photo-left li{
    border:2px solid #f1104a;    
}
.lhy-photo-right{
    width: .85rem;
    height: .81rem;
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lhy-photo-right span{
    width: .06rem;
    height: 0.06rem;
    background: #f10d38;
    border-radius: 50%;
    display: block;
    margin:0 0.02rem;
}
/*************评论  收藏    日期*************/
.lhy-life-plsc{
    width: 6rem;
    height:.23rem;
    margin-left:.5rem;
    margin-top:.5rem;
}
.lhy-life-plsc div{
    float:left;
}
.lhy-life-sc,.lhy-life-pl{
    width: auto;
    height: 100%;
    float: left;
    margin-right:.57rem;
}
.lhy-life-sc img,.lhy-life-pl img,.lhy-life-date img{
    width: .23rem;
    height: .23rem;
    display: block;
    float:left;
}
.lhy-life-plsc span{
    width:auto;
    height: 100%;
    margin-left:.15rem;
    line-height: .23rem;
    font-size:.18rem;
    color:#626262;
    float:left;
}
.lhy-life-plsc .lhy-life-date{
    float:right;
}
.yc_btnBox{
    height:.9rem;
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
    margin-top:.54rem;
}
.yc_btnBox em,.yc_greyBtn em{
    width:.06rem;
    height:0.06rem;
    display: block;
    border-radius:50%;
    background: #fff;
}
.yc_btnBox a{
    display: flex;
    width:3.1rem;
    height:.9rem;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    border: none;

}
.yc_btnRegister,.yc_btnLogin{
    display: block;
    font-size:.24rem;
    color: #fff;
    text-align: center;
    width: 1.3rem;
}
.yc_login{
    background: url("../../images/redbtn.png") center center no-repeat/contain;
}
.yc_btnLogin:after{
    display: block;
    content: 'Add to cart';
    font-size:.18rem;
    color: #fff;
}
.yc_btnRegister:after{
    content: 'Buy';
    display: block;
    font-size:.18rem;
    color: #fff;
}
.yc_register{
    background: url("../../images/bluebtnd.png")center center no-repeat/contain;
}
