/* 
* @Author: Marte
* @Date:   2016-12-29 18:57:28
* @Last Modified by:   Marte
* @Last Modified time: 2017-01-05 19:52:43
*/
body{
    font-size: 0.16rem;
    background:#f6f6f6;
}
a{
    color:#666;
}
.hyb-top{
    width: 100%;
    height: 5.3rem;
    position: absolute;
    left: 0;top: 0;
    background: url(../../images/1.jpg) right 35%/cover;
}
.hyb-content-box{
    border-top: 0.01rem solid #fff;
    margin: 0.03rem 0.25rem 0;
    position: relative;
}
.hyb-dian{
    height: 3px;
    width: 3px;
    background:#fff;
    border-radius: 50%;
    position: absolute;
    top: -1.5px;
    border-left:1px solid #DDF4E2;
    border-right:1px solid #DDF4E2;
}
.hyb-t1{
    left: 0;
}
.hyb-t2{
    left: 50%;
    margin-left: -0.02rem;
}
.hyb-t3{
    left: 100%;
}
.hyb-con-title{
    margin: 0.2rem auto 0.45rem;
    overflow:hidden;
    position:relative;
}

.hyb-more{
    width: 0.65rem;
    height: 0.65rem;
    float: left;
    background:url(../../images/more.png) center/contain no-repeat;
    display: block;
}
.hyb-add{
    float:right;
    background:url(../../images/add.png) center/contain no-repeat;
}

.hyb-head-box{
    text-align: center;
}
.hyb-head-box img{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    margin: 0.5rem auto 0.4rem;
    display:block;
}
.hyb-head-box h3{
    color:#2a2a2a;
    font-size: 0.32rem;
    font-weight: 200;
}
.hyb-head-box h3 b{
    font-weight: 700;
}
.hyb-head-box p{
    font-size: 0.22rem;
    color:#4d4d4d;
}
.hyb-head-box p span{
    color:#f20b2c;
    font-size: 0.28rem;
}

.hyb-ban-box{
    overflow: hidden;
    height: 4rem;
    width: 100%;
}
.hyb-ban{
    width: 20rem;
    overflow:hidden;
}
.swiper-wrapper{
    margin-left: -29.7%;
}
.hyb-ban li{
    width: 4.2rem!important;
    height: 2.2rem !important;
    padding: 0.55rem 0.6rem 0.45rem;
    border-radius: 5px;
    margin-bottom: 0.1rem;
    background:#fff;
    box-shadow: 0 0 0.1rem 1px rgba(59, 59, 59, 0.1);
    overflow:hidden;
    float:left;
    transform: scale(0.8);
    transition: all 1s;
}
.hyb-ban .swiper-slide-active{
    transform: scale(1);
}
.hyb-ban li img{
    width: 1rem;
    height: 0.35rem;
    margin-bottom: 0.25rem;
}
.hyb-ban li h1{
    font-size: 0.28rem;
    color:#555;
    margin-bottom: 0.45rem;
}
.hyb-ban li h2{
    text-align: center;
    font-size: 0.18rem;
    font-weight: 200;
    margin-bottom: 0.15rem;
}
.hyb-ban li b{
    font-size: 0.22rem;
    font-weight: 700;
}
.hyb-desc{
    height: 0.5rem;
}
.hyb-desc p{
    font-size: 0.18rem;
    float:left;
}
.hyb-ban li .hyb-desc-right{
    height: 0.5rem;
    width: 0.7rem;
    float:right; 
    margin-top: -0.25rem;
    margin-bottom: 0;
}
.hyb-bank-btn{
    width: 0.9rem;
    height: 0.2rem;
    margin: 0.35rem  auto 0.3rem;
}
.swiper-visible-switch{
    float:left;
    width: 0.2rem;
    height: 0.2rem;
    margin-right: 0.1rem;
    background-color: #ababab;
    border-radius: 50%;
}
.swiper-active-switch{
    background-color: #192889;
}



.hyb-bank-card{
    padding: 0.75rem 0.7rem 0.5rem 0.75rem ;
    background-color: #fff;
}
.hyb-bank-line{
    border-top:1px dashed #bfbfbf;
}
.hyb-bank{
    position: relative;
    height: 0.85rem;
    margin-top: 0.25rem;
}
.hyb-bank-cir{
    width: 0.12rem;
    height: 0.12rem;
    border-radius: 50%;
    position: absolute;
    left: -0.3rem;
    top: 0.1rem;
}
.hyb-bc1{
    background-color: #094;
}
.hyb-bc2{
    background-color: #fff114;
}
.hyb-bc3{
    background-color: #ff1425;
}





.hyb-bank-left{
    width: 1.85rem;
    float:left;
}
.hyb-bank-left span{
    font-size: 0.18rem;
    color:#555;
}
.hyb-bank-left h1,.hyb-bank-right p{
    font-size: 0.22rem  ;
    color:#555;
}
.hyb-bank-right{
    float:left;
}
.hyb-bank button{
    float:right;
    border-radius: 0.3rem;
    background-color: #26b9b0;
    border:0;
    color:#fff;
}



.hyb-btn a{
    display:block;
    width: 100%;
    height: 100%;
}
.hyb-btn{
    width: 2.6rem;
    padding-left: 1.8rem;
    margin: 0.5rem auto;
    padding-top: 0.05rem;
    height: 0.7rem;
    position: relative;
    background:url('../../images/hyb-pay_15.png')center /contain no-repeat;
}
.hyb-btn p{
    color:#FFDCE9;
    font-size: 0.22rem;
    font-weight: normal;
}
.hyb-btn p span{
    font-size: 0.16rem;
}












.hyb-msk{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(17, 16, 16, 0.8);
    top: 0;
    left: 0;
    z-index: 999;
    display:none;
}
.hyb-topay{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 6.17rem;
    height: 4.57rem;
    background-color: #f6f6f6;
    border-radius: 0.18rem;
    overflow:hidden;
}
.hyb-topay-title{
    height: 0.74rem;
    background:url(../../images/bg.jpg) center;
    box-shadow: 0 0 0.1rem 1px rgba(59, 59, 59, 0.1);
    padding-top: 0.7rem;
}
.hyb-topay-title h1{
    color:#6a6a6a;
    font-size: 0.28rem;
    text-align: center;
    font-weight: normal;
}
.hyb-topay-con{
    height: 1.1rem;
    overflow: hidden;
    background:url(../../images/pay_03.png) center/cover no-repeat;
}
.hyb-topay-con h2{
    margin-top: 0.4rem;
    font-size: 0.32rem;
    color:#595959;
    text-align: center;
}
.hyb-topay-con h2 span{
    font-size: 0.5rem;
    color:#e60b3e;
}
.hyb-topay p{
    display:inline-block;
    font-size: 0.22rem;
    color:#e60b3e;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0.25rem;
    border-bottom: 1px dashed #9d9d9d;
    margin: 0 0.4rem;
    position: relative;
}
.hyb-topay p:before{
    content:'';
    display:block;
    position: absolute;
    left: -0.04rem;
    bottom: -0.035rem;
    width: 0.07rem;
    height: 0.07rem;
    border-radius: 50% ; 
    background:#6b6b6b;
}
.hyb-topay p:after{
    content:'';
    display:block;
    position: absolute;
    right: -0.04rem;
    bottom: -0.035rem;
    width: 0.07rem;
    height: 0.07rem;
    border-radius: 50% ; 
    background:#6b6b6b;
}
.hyb-topay-btn{
    width: 3.4rem;
    height: 0.6rem;
    border-radius: 0.35rem;
    border:2px solid #fe87ba;
    margin: 0.34rem auto 0;
    padding:0.05rem;
    display:flex;
    justify-content: space-around;
}
.hyb-topay-btn a{
    width: 50%;
    display:block;
    height: 100%;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.22rem;
}
.hyb-go{
    background:#fe87ba;
    border-radius: 0.3rem;
    color:#fff;
}
.hyb-cacel{
    color:#d4395d;
}