/* 
* @Author: Marte
* @Date:   2016-12-29 18:57:28
* @Last Modified by:   Marte
* @Last Modified time: 2017-01-03 18:40:18
*/
body{
    font-size: 0.16rem;
    background:#f6f6f6;
}
a{
    color:#666;
}
.hyb-top{
    width: 100%;
    height: 1.9rem;
    position: absolute;
    left: 0;top: 0;
    background: url(../../images/1.jpg) right 35%/cover;
}
.hyb-content-box{
    border-top: 0.01rem solid #fff;
    margin: 0.03rem 0.25rem 0;
    position: relative;
}
.hyb-dian{
    height: 3px;
    width: 3px;
    background:#fff;
    border-radius: 50%;
    position: absolute;
    top: -1.5px;
    border-left:1px solid #DDF4E2;
    border-right:1px solid #DDF4E2;
}
.hyb-t1{
    left: 0;
}
.hyb-t2{
    left: 50%;
    margin-left: -0.02rem;
}
.hyb-t3{
    left: 100%;
}
.hyb-con-title{
    margin: 0.2rem auto 0.45rem;
    padding-left: 2.6rem;
    overflow:hidden;
    position:relative;
    background:url(../../images/hyb-pay2_03.png) center/contain no-repeat;
}
.hyb-con-title h1{
    font-size: 0.32rem;
    font-weight: 200;
    color:#717171;
}
.hyb-con-title h2{
    font-size: 0.16rem;
    font-weight: 200;
    color:#717171;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.hyb-con-title h2 strong{
    font-weight: 700;
}
.hyb-con-title a{
    position:absolute;
    left: 0;
    top: 0;
}
.hyb-more{
    width: 0.65rem;
    height: 0.65rem;
    float: left;
    background:url(../../images/more.png) center/contain no-repeat;
    display: block;
}




.hyb-list-box{
    padding: 0.3rem 0.2rem;
    border-radius: 5px;
    margin-bottom: 0.1rem;
    background:#fff;
    box-shadow: 0 0 0.1rem 1px rgba(59, 59, 59, 0.1);
    overflow:hidden;
}
.hyb-list-box li{
    overflow:hidden;
}
.hyb-list-left{
    width: 0.8rem;
    height: 0.75rem;
    margin-right: 0.1rem;
    float:left;
}
.hyb-list-con{
    width: 4.6rem;
    height: 0.9rem;
    float: left;
}
.hyb-list-con h2{
    font-size: 0.26rem;
    color:#636363;
    float: left;
    border-bottom: 1px dashed #50cea6;
    position: relative;
    padding-bottom: 0.1rem;
}
.hyb-list-con h2:before{
    content:'';
    height: 3px;
    width: 3px;
    background:#50cea6;
    border-radius: 50%;
    position: absolute;
    bottom: -2px;
    left: 0;
}
.hyb-list-con h2:after{
    content:'';
    height: 3px;
    width: 3px;
    background:#50cea6;
    border-radius: 50%;
    position: absolute;
    bottom: -2px;
    right:0;
}
.hyb-s1,.hyb-s2{
    border:0;
    background:#ffe829;
    top: 50%;
    right: -0.2rem;
}
.hyb-s2{
    background:#f52b7c;
    right: -0.3rem;
}
.hyb-list-con h3{
    font-size: 0.2rem;
    color:#303030;
    float:left;
    font-weight: 200;
    margin-top: 0.1rem;
}
.hyb-list-right{
    height: 0.25rem;
    margin: 0.25rem 0;
    float:right;
    color:#FF62A6;
}
.hyb-list-right span{
    font-size: 0.26rem;
}
.hyb-border{
    width: 100%;
    height: 0.06rem;
    margin: 0.2rem 0; 
    background:url(../../images/hyb-xian.png) center /cover no-repeat;
}
.hyb-list-right b{
    width: 0.5rem;
    height: 0.18rem;
    background:url(../../images/hyb-pay_07.png) center /cover no-repeat;
    display:inline-block;
    margin-left: 0.05rem;
}
.hyb-list-nub{
    float:right;
}
.hyb-all{
    margin: 0.1rem 0;
}
.hyb-list-nub input,.hyb-list-nub button{
    margin: 0;
    border:0;
    line-height: 0.5rem;
    text-align:center;
    background:rgba(0, 0, 0, 0.0);
    vertical-align: middle;
    outline: none;
}
.hyb-list-nub button{
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    border:1px solid #d6d6d6;
    font-size: 0.21rem;
    color:#646464;
    padding: 0;
    line-height: 1;

}
.hyb-list-num{
    font-size: 0.22rem ;
    margin-left: 0.18rem;
    float:left;
    line-height: 0.5rem;
    position: relative;
    color:#6A6A6A;
}
.hyb-list-more{
    float:right;
    color:#2E2E2E;
    line-height: 0.5rem;
}
.hyb-list-more button{
    vertical-align: middle;
    border:0;
    width: 0.4rem;
    height: 0.4rem;
    margin: 0.05rem;
    background:url(../../images/hyb-pay_11.png) center /cover no-repeat;
}
.hyb-btn a{
    display:block;
    width: 100%;
    height: 100%;
}
.hyb-btn{
    width: 2.6rem;
    padding-left: 1.8rem;
    margin: 0.5rem auto;
    padding-top: 0.05rem;
    height: 0.7rem;
    position: relative;
    background:url('../../images/hyb-pay_15.png')center /contain no-repeat;
}
.hyb-btn a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.hyb-btn p{
    color:#FFDCE9;
    font-size: 0.22rem;
    font-weight: normal;
}
.hyb-btn p span{
    font-size: 0.16rem;
}