        <link rel="stylesheet" type="text/css" href="pages/pay/order.css" />
        <div class="hyb-top"></div>
        <div class="hyb-content-box" ng-controller='o'>
            <div class='hyb-dian hyb-t1'></div>
            <div class='hyb-dian hyb-t2'></div>
            <div class='hyb-dian hyb-t3'></div>
            <div class="hyb-con-title">
                <a class="hyb-more" onclick="history.back()"></a>
                <h1>提交订单</h1>
                <h2><strong>Submit</strong> orders</h2>
            </div>
            <ul class="hyb-list-box" ng-repeat='v in order'>
                <li>
                    <div class="hyb-list-left"><img src="{{v.icon}}" height="100%" width="100%" alt="" /></div>
                    <div class="hyb-list-con">
                        <h2>{{v.title}}
                            <s class='hyb-dian hyb-s1'></s><s class='hyb-dian hyb-s2'></s>
                        </h2>
                        <h3>{{v.desc}}</h3>
                    </div>
                    <div class="hyb-list-right"><span>{{v.price|number:2}}</span><b></b></div>
                </li>
                <li class="hyb-border"></li>
                <li>
                    <div class="hyb-list-num">数量</div>
                    <div class="hyb-list-nub">
                        <button ng-click='del(v)'>-</button>
                        <input type="number" min="0" max='99' ng-model='v.num' />
                        <button ng-click='add(v)'>+</button>
                    </div>
                </li>
                <li class="hyb-border"></li>
                <li>
                    <div class="hyb-list-num">小计</div>
                    <div class="hyb-list-right hyb-all"><span>{{v.price*v.num|number:2}}</span><b></b></div>
                </li>
            </ul> 
            <ul class="hyb-list-box">
                <li>
                    <div class="hyb-list-num">使用现金抵扣劵 <s class='hyb-dian hyb-s1'></s><s class='hyb-dian hyb-s2'></s></div>
                    <div class="hyb-list-more">
                        <span>使用现金抵扣劵</span>
                        <button></button>
                    </div>
                </li>
                <li class="hyb-border"></li>
                <li>
                    <div class="hyb-list-num">订单总价</div>
                    <div class="hyb-list-right hyb-all"><span>{{sum|number:2}}</span><b></b></div>
                </li>
            </ul>
            <ul class="hyb-list-box">
                <li>
                    <div class="hyb-list-num">您绑定的手机号 <s class='hyb-dian hyb-s1'></s><s class='hyb-dian hyb-s2'></s></div>
                </li>
                <li class="hyb-border"></li>
                <li>
                    <div class="hyb-list-num">155****6185</div>
                    <div class="hyb-list-right hyb-all"><a href="#">绑定新手机号</a></div>
                </li>
            </ul>
            <div class="hyb-btn">
                <a href="#/pay"></a>
                <p>提交订单<br />
                    <span><strong>Submit</strong> orders</span>
                </p>
            </div>
        </div>
    <script type="text/javascript" src='pages/pay/orders.js'></script>

