<div class="sly-bg"></div>
<div class="sly-return"></div>
<div class="sly-jd"></div>
<div class="sly-wel">
    <p class="sly-one">Hi <span>Dear :</span>&nbsp;{{recom.name}}<i></i><b></b></p>
    <p class="sly-two">Welcome to new world</p>
    <div class="line"></div>
    <p class="sly-three">
        <span class="span1">{{recom.ctitle}}</span>
        <span class="span2">{{recom.etitle}}</span>
    </p>
</div>
<div ng-transclude></div>
<ul class="sly-btnbox">
    <li class="sly-center">
        <a href="#/job">NEXT</a>
    </li>
</ul>