<link rel="stylesheet" type="text/css" href="pages/chat/css/friend.css" />
    <header class="head">
        <a href="##">
            <button></button>
        </a>
    </header>
    <ul class="sly-ul"  ng-controller="c">
        <li class="sly-list" ng-repeat="v in list" >
            <a href="##">
                <div class="sly-xfpic">
                    <img src="images/{{v.src}}" height="73" width="66" alt="" />
                </div>
                <div class="sly-commit">
                    <p class="sly-title">{{v.title}}<i></i><b></b></p>
                    <div class="sly-line"></div>
                    <p class="sly-remark">{{v.remark}}</p>
                </div>
                <div class="sly-cel" ng-if="$index==1||$index==0"></div>
                <div class="sly-group">{{v.friend}}</div>
                <div class="sly-add" ng-if="$index==2">添加</div>
            </a>
        </li>
    </ul>
    <div class="sly-tit">
        <div class="sly-left">
            <p class="sly-eng">Friends <span>set dynamically</span></p>
            <div class="sly-yx"></div>
            <p class="sly-china">好友动态设置</p>
        </div>
        <div class="sly-right"></div>
    </div>
    <ul class="sly-ul"  ng-controller="c">
        <li class="sly-list" ng-repeat="v in active" >
            <div class="sly-xfpic">
                <img src="images/{{v.src}}" height="73" width="66" alt="" />
            </div>
            <div class="sly-commit">
                <p class="sly-title">{{v.title}}<i></i><b></b></p>
                <div class="sly-line"></div>
                <p class="sly-remark">{{v.remark}}</p>
            </div>
            <div  ng-class="{true:'sly-rangbox sly-hrangbox',false:'sly-rangbox'}[flag]" ng-click="flag=!flag">
                <div class="sly-rang" ></div>
            </div>
        </li>
    </ul>
