
    <li class="sly-list">
        <a href="##">
            <img src="pages/chat/images/{{datalist.src}}" height="73" width="66" alt="" />
            <div class="sly-commit">
                <p class="sly-title">{{datalist.title}}</p>
                <div class="sly-line"></div>
                <p class="sly-remark">{{datalist.remark}}</p>
            </div>
            <div class="sly-border" ng-if="datalist.id==1">{{datalist.num}}</div>
            <div class="sly-border-no" ng-if="datalist.id==3||datalist.id==2">{{datalist.num}}</div>
        </a>
    </li>

    

