body,html{
    background:#f6f6f6;
}
h2,h3,h4,h5{
    font-weight:normal;
}
.lhy-top{
    width:100%;
    height:.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#91cbda;
    padding:0 .24rem;
    box-sizing:border-box;
}
.lhy-active-top{
    position:fixed;
    top:0;
    left:0;
    z-index:100;
}
.lhy-return,.lhy-shaixuan,.lhy-return img,.lhy-shaixuan img{
    width:.52rem;
    height:.54rem;
    display: block;
}
.lhy-return a,.lhy-shaixuan a{
    width: 100%;
    height: 100%;
    display: block;
}
.lhy-title,.lhy-title img{
    width:1.56rem;
    height:.52rem;
    display: block;
}
.lhy-content{
    width:100%;
    height:auto;
    padding:0 .24rem;
    box-sizing:border-box;
}
/***********search*******************************/
.lhy-search{
    width:100%;
    height:1.38rem;
    padding:0 .62rem;
    box-sizing:border-box;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.lhy-active-search{
    position:fixed;
    top:.9rem;
    left:0;
    z-index:100;
}
.lhy-sear{
    width:5.21rem;
    height:.73rem;
    position:relative;
    border-radius:.35rem;
    background:#fff;
    padding-left:.6rem;
    box-sizing:border-box;
    box-shadow: 0 0 15px 0 #ccc;
}
.lhy-sear span{
    width:.18rem;
    height:.18rem;
    border-radius:50%;
    background:#80acb8;
    position:absolute;
    top:.27rem;
    left:.26rem;
}
.lhy-sear input{
    width:75%;
    height:93%;
    float:left;
    outline:none;
    border:none;
}
.lhy-yuyin,.lhy-yuyin img{
    width:.7rem;
    height:.74rem;
    display: block;
}
/**********热门搜索****************/
.lhy-rmss{
    width:100%;
    height:3.56rem;
}
.lhy-rmss h2,.lhy-rmtj h2{
    width:100%;
    height:.52rem;
    margin-bottom:.37rem;
}
.lhy-rmss h2 img{
    width:2.19rem;
    height:.52rem;
    display: block;
}
.lhy-rmss-list div{
    width:2.09rem;
    height:.52rem;
    float:left;
    margin:.1rem;
}
.lhy-rmss-list div:first-child{
    margin-left:1.1rem;
}
.lhy-rmss-list div:nth-child(6){
    margin-left:1.1rem;
}
.lhy-rmss-list a{
    width:2.09rem;
    height:.52rem;
    display: block;
    float:left;
    background:url("../images/lhy-search_21.png") 0 0 no-repeat;
    background-size:contain;
    font-size:.22rem;
    color:#484848;
    text-align:center;
    line-height:.52rem;
}
/***************最新推荐********************/
.lhy-rmtj{
    width:100%;
    height:4.17rem;
    margin-bottom:.4rem;
}
.lhy-rmtj h2 img{
    width:2.53rem;
    height:.55rem;
    display: block;
}
.lhy-rmtj-content div:first-child,.lhy-rmtj-content div:nth-child(1) a,.lhy-rmtj-content div:nth-child(1) img{
    width:2.1rem;
    height:3.13rem;
    float:left;
    margin-right:.1rem;
    display: block;
}
.lhy-rmtj-content div:nth-child(2),.lhy-rmtj-content div:nth-child(2) a,.lhy-rmtj-content div:nth-child(2) img{
    width:3.17rem;
    height:1.53rem;
    float:left;
    margin-right:.1rem;
    margin-bottom:.08rem;
    display: block;
}
.lhy-rmtj-content div:nth-child(3),.lhy-rmtj-content div:nth-child(3) a,.lhy-rmtj-content div:nth-child(3) img,.lhy-rmtj-content div:nth-child(6),.lhy-rmtj-content div:nth-child(6) a,.lhy-rmtj-content div:nth-child(6) img{
    width:1.54rem;
    height:1.53rem;
    float:left;
    margin-bottom:.08rem;
    display: block;
}
.lhy-rmtj-content div:nth-child(4),.lhy-rmtj-content div:nth-child(4) a,.lhy-rmtj-content div:nth-child(4) img{
    width:1.54rem;
    height:1.53rem;
    float:left;
    display: block;
    margin-bottom:.08rem;
    margin-right:.1rem;
}
.lhy-rmtj-content div:nth-child(5),.lhy-rmtj-content div:nth-child(5) a,.lhy-rmtj-content div:nth-child(5) img{
    width:1.54rem;
    height:1.53rem;
    float:left;
    margin-bottom:.08rem;
    margin-right:.1rem;
    display: block;
}
/****************遮罩************************/
.lhy-zhezhao{
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    z-index:2;
}
/*****************搜索结果**********************/
.lhy-ssjg{
    width: 7.02rem;
    height: auto;
    overflow: hidden;
    background:#fff;
    position:absolute;
    top:4rem;
    left:.24rem;
    z-index:122;
    margin:.47rem auto;
    border-radius: 15px;
    padding:.11rem .64rem .46rem ;
    box-sizing:border-box;
}
.lhy-ssjg-list{
    width: 100%;
    height:1.01rem;
    border-bottom:1px solid #c3c3c3;
    display: flex;
    justify-content:center;
    align-items:center;
}
.lhy-ssjg-left,.lhy-ssjg-left img{
    width: .48rem;
    height: .48rem;
    border-radius: 50%;
    display: block;
}
.lhy-ssjg-right{
    width: 509rem;
    height:.53rem;
    margin-left: .17rem;
}
.lhy-ssjg-right h3{
    width: 100%;
   line-height: .22rem;
   color:#484848;
   font-size: .24rem;
}
.lhy-ssjg-right h3 span{
    color:#fd6363;
}
.lhy-ssjg-right h4{
    margin-top:.14rem;
    color:#484848;
   font-size: .18rem;
}