body,html{
    background:#f6f6f6;
}
h2,h3,h4,h5{
    margin:0;
    padding:0;
    font-weight:normal;
}
.lhy-banner,.lhy-banner img{
    width:100%;
    height:4.57rem;
    display:block;
}
.lhy-banner{
    position: relative;
}
.lhy-bannerlist{
    width:100%;
    height:100%;
    display: block;
    position: absolute;
    top:0;
    left: 0;
    z-index:111;
}
.lhy-banner-cir{
    width:.57rem;
    height: .1rem;
    position: absolute;
    bottom: .32rem;
    left:3.5rem;
    z-index:122;
}
.lhy-banner li{
    width: .1rem;
    height: .1rem;
    background: #fff;
    border-radius: 50%;
    float: left;
    margin-right:.1rem;
}
.lhy-banner .lhy-active-cir{
    width: .26rem;
    height: .1rem;
    background: #f50c45;
    border-radius: 20px;
}
/***************轮播**********************/
.swiper-pagination .swiper-pagination-bullet {
    width: .1rem;
    height: .1rem;
    border-radius:50%;
    background: #fff;
    opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: .26rem;
    height: .1rem;
    border-radius: 10px;
    background: #f50e46;
}

/*******热门推荐*****************/
.lhy-rmtj{
    width:100%;
    height:2.66rem;
    background:#fff;
    box-shadow:0 0 8px 0 rgba(233,233,233,0.75);
}
.lhy-title{
    width:100%;
    height:1.27rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lhy-title img{
    width:1.65rem;
    height:.62rem;
}
.lhy-lx {
    width:100%;
    height:1.1rem;
}
.lhy-lx li{
    width:20%;
    height: 100%;
    float:left;
}
.lhy-lx h2{
    font-size:.18rem;
    color:#313131;
    text-align:center;
    line-height:.59rem;
    font-weight:normal;
}
.lhy-lximg{
    width:100%;
    height:.72rem;
    padding:.06rem 0;
    box-sizing:border-box;
    background:url("images/lhy-line_03.png") top right no-repeat;
}
.lhy-lximg a{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content:center;
}
.lhy-lximg:nth-child(5){
    background:none;
}
.lhy-lx img{
    height:100%;
}

/***************fashion***********************/
.lhy-fashion{
    width:100%;
    height:6rem;
    padding:0.47rem .24rem 0;
    box-sizing: border-box;
}
.lhy-fashion-title{
    width:100%;
    height:.7rem;
    margin-bottom:.25rem;
}
.lhy-fashionimg{
    float:left;
    height:100%;
    margin-left:.1rem;
}
.lhy-fashion-more{
    float:right;
    height:100%;
    margin-right:.22rem;
}
.lhy-fashion-imglist li{
    width:2.18rem;
    float:left;
    height:2.18rem;
    border:1px solid #fff;
    margin-right:.18rem;
    margin-bottom:.18rem;
}
.lhy-fashion-imglist li a{
    width:2.18rem;
    display: block;
    height:2.18rem;
}
.lhy-fashion-imglist li:nth-child(3){
    margin-right:0;
}
.lhy-fashion-imglist li:nth-child(6){
    margin-right:0;
}
.lhy-fashion-imglist img{
    width:2.18rem;
    height:2.18rem;
}
/**********mood******************/
.lhy-mood{
    width:100%;
    height:auto;
    padding:0 .24rem;
    box-sizing:border-box;
}
.lhy-mood-title{
    width:100%;
    height:1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:.11rem;
}
.lhy-mood-title img{
    width:2.74rem;
    height:.66rem;
}
/*mood下面*/
.lhy-mood-content{
    width:100%;
    height:auto;
    overflow: hidden;
    margin-bottom:.98rem;
}
.lhy-mood-content-left{
    float:left;
}
.lhy-mood-content-right{
    float:right;
}
.lhy-mood-content li{
    height:auto;
    border-radius:5px;
    margin-bottom:.22rem;
    background:#fff;
    padding-bottom:.25rem;
    box-shadow:0 0 10px 0  #ddd;
}
.lhy-mood-content-left li{
    width:3.53rem;
}
.lhy-mood-content-right li{
    width:3.27rem;
}
.lhy-mood-top{
    width:100%;
    height:.88rem;
    display: flex;
    align-items: center;
}
.lhy-mood-top img{
    width:.56rem;
    height:.56rem;
    margin-left:.21rem;
}
.lhy-mood-top-middle{
    width:1.75rem;
    height:.48rem;
    margin-left:.22rem;
    float:left;
}
.lhy-mood-top-middle h3{
    width:100%;
    font-size:.18rem;
    color:#313131;
}
.lhy-mood-top-middle h4{
    width:100%;
    font-size:.16rem;
    color:#666666;
}
.lhy-mood-top-right{
    float:right;
    color:#666666;
    font-size:.16rem;
}
.lhy-mood-middle{
    width:100%;
    display: block;
}
.lhy-mood-bottom{
    width:100%;
    height:auto;
}
.lhy-mood-bottom h4{
    height:.64rem;
    font-size:.24rem;
    line-height:.64rem;
    padding-left:.13rem;
    box-sizing:border-box;
    font-weight:bold;
    color:#333;
    margin-left:.1rem;
    margin-right:.13rem;
    background:url("images/mood_17.png") left bottom no-repeat;
    background-size:contain;
}
.lhy-mood-bottom h2{
    line-height:.3rem;
    font-size:.2rem;
    color:#525252;
    padding:0 .23rem;
    box-sizing:border-box;
    font-family:"sans-serif";
    margin-top:.1rem;
    margin-bottom:.19rem;
}
.lhy-mood-sc,.lhy-mood-pl{
    height:.23rem;
    display: block;
    width:.26rem;
    background:url("images/mood_24.png") 0 0 no-repeat;
    background-size:contain;
}
.lhy-mood-pl{
    background:url("images/mood_26.png") 0 0 no-repeat;
    background-size:contain;
}
.lhy-mood-scpl{

    overflow: hidden;
}
.lhy-mood-scpl span{
    font-size:.18rem;
    color:#626262;
    float:left;
    margin-left:.14rem;
}
.lhy-mood-scpl .lhy-mood-sc{
    margin-left:.23rem;
}
.lhy-mood-scpl .lhy-mood-pl{
    margin-left:.35rem;
}
/***************tab*********************/
.lhy-tab{
    width:100%;
    height:0.98rem;
    background:#2c3033;
    position:fixed;
    bottom:0;
    left:0;
}
.lhy-tab li{
    padding:.18rem 0;
    box-sizing:border-box;
    background:url("images/lhy-tab_09.png") center right no-repeat;
    background-size:auto 60%;
}
.lhy-tab li,.lhy-tab li a{
    width:25%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
}
.lhy-tab li img{
    display: block;
    height:90%;
}