/* 
* @Author: Marte
* @Date:   2016-12-29 22:23:43
* @Last Modified by:   Marte
* @Last Modified time: 2017-01-05 14:29:35
*/
ul{
    list-style: none;
}
html,body{
    height:100%;
    background:#caddeb;
    overflow:hidden;
}
body{
    position: relative;
    z-index: -2;
}
.hyb-top-box{
    height: 0.7rem;
    margin: 0.2rem 0.25rem 0;
}
.hyb-top-box p{
    text-align: center;
}
.sly-return{
    width:.55rem;
    height:.58rem;
    background:url("../images/return.png") center center/cover;
    float:left;
}
.sly-wel{
    width:5.18rem;
    margin:.66rem auto 0;
    line-height: .42rem;
}
.sly-one{
    color:#fff;
    font-size: .28rem;
}
.sly-one>i,.sly-one>b{
    font-style: normal;
    display:inline-block;
    width:0.12rem;
    height:0.12rem;
    border-radius: 50%;
    margin: 0 0.05rem;
}
.sly-one>i{
    background:#00c0ff;
    margin-left: 0.5rem;
}
.sly-one>b{
    background:#fffc18;
}
.sly-one>span{
    color:#f60b26;
}
.sly-two{
    color:#fff;
    font-size: .22rem;
}
.line{
    width:5.18rem;
    margin:0 auto;
    height:1px;
    margin: 0.15rem 0;  
    border-bottom: 1px dashed #48dc98;
}
.line:before{
    content:"";
    display:block;
    width:.04rem;
    height:0.04rem;
    border-radius: 50%;
    background:#f6093b;
    float:left;
}
.line:after{
    content:"";
    display:block;
    width:.04rem;
    height:0.04rem;
    border-radius: 50%;
    background:#f6093b;
    float:right;
}
.sly-three{
    color:#fff; 
}
.sly-three:after{
    content:"";
    display:block;
    clear:both;
}
.sly-wel:after{
    content:"";
    display:block;
    clear:both;
}
.span1{
    font-size: .26rem;
    float:left;
}
.span2{
    font-size: .18rem;
    float:right;
}


.swiper-container {
  height: 6.7rem;
  margin:0.4rem 0 0!important;
  overflow: hidden;
}
.swiper-wrapper{
    overflow:hidden;
    width: 19rem!important;
}
.swiper-slide{
    width: 5.26rem!important;
    height: 6.7rem!important;
    border-radius: 15px;
    position: relative;
    padding: 0!important;
    background-color: #fff;
    transform: scale(0.8);
    transition:all 1s;
}
.swiper-slide-active{
    transform:scale(1);
}
.hyb-slide-title{
    height: 2.14rem;
    background:url(../images/title.png) center/cover no-repeat;
    border-radius: 15px;
    padding-top: 0.48rem;
}
.hyb-slide-head{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.hyb-slide-head a{
    display:block;
    border:2px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}
.hyb-zhan{
    width: 0.54rem;
    height: 0.54rem;
    background: url(../../chat/images/xin.png) rgba(27, 28, 29, 0.5) center 60%/60% no-repeat;
}
.hyb-header{
    width: 1.2rem;
    height: 1.2rem;
    background: url(../../chat/images/tx.png) rgba(27, 28, 29, 0.5) center/cover no-repeat;
    background-clip: content-box;
}
.hyb-set{
    width: 0.54rem;
    height: 0.54rem;
    background: url(../../chat/images/sz.png) rgba(27, 28, 29, 0.5) center/60% no-repeat;
}
.hyb-slide-title p{
    font-size: 0.24rem;
    color:#fff;
    text-align: center;
    margin-top: 0.15rem;
}
.hyb-star{
    width: 0.86rem;
    height: 0.21rem;
    margin: 0.1rem auto 0;
    background:url(../../chat/images/star.png) center/contain;
}
.hyb-slide-desc{
    height: 0.71rem;
    border-bottom: 1px solid #a0a0a0; 
    padding-top: 0.24rem;
    position: relative;
}
.hyb-slide-desc p{
    font-size: 0.18rem;
    color:#666;
    text-align: center;
}
.hyb-desc-dui{
    width: 0.37rem;
    height: 0.37rem;
    position: absolute;
    left: 50%;
    margin-left: -0.18rem;
    bottom: -20%;
    background:url(../images/dui2.png) center/cover no-repeat;
}
.hyb-recom-list{
    padding: 0.05rem 0.45rem;
    overflow:hidden;
}
.hyb-recom-list li{
    height: 0.32rem;
    margin: 0.35rem 0;
    width: 100%;
    color:#686868;
    overflow:hidden;
    padding: 0.04rem 0;
}
.hyb-tag-left{
    font-size: 0.22rem ;
    float:left;
    margin-right: 0.35rem;
}
.hyb-tag-left i{
    font-style: normal;
    font-size: 0.16rem;
}
.hyb-tag-right{
    font-size: 0.22rem  ;
    float:left;
}
.hyb-tag-right dd{
    float:left;
    width: 0.86rem;
    height: 0.32rem;
    background:#fff;
    box-shadow: 0 0 0.1rem 0.01rem rgba(227, 227, 227, 0.75);
    border-radius: 0.16rem;
    text-align: center;
    margin-right: 0.25rem;
}
.hyb-tag-right a{
    display:block;
}
.hyb-tag-right img{
    width: 0.82rem;
    height: 0.82rem;
    border-radius: 5px;
    margin-right: 0.15rem;
    border:0;
}
.hyb-recom-list .hyb-recom-img{
    height: 0.82rem;
}
.hyb-tag-right img:nth-child(1){
    background:url(../images/11.png) center/cover no-repeat;
}
.hyb-tag-right img:nth-child(2){
    background:url(../images/12.png) center/cover no-repeat;
}
.hyb-tag-right img:nth-child(3){
    background:url(../images/13.png) center/cover no-repeat;
}

.sly-btnbox{
    width:6.6rem;
    height:0.9rem;
    margin: 0.8rem auto 0;
    color:#fff;
    text-align: center;
}

.sly-center{
    border:1px solid transparent;
    width:3.28rem;
    height:0.9rem;
    background:url("../../../images/redbtn.png") center center/cover no-repeat;
    margin:0 auto;
}
.sly-center a{
    font-size: 0.26rem;
    color: #fff;
    display:block;
    width: 100%;
    height: 100%;
    line-height: 0.9rem;
    text-align: center;
}




