/* 
* @Author: Marte
* @Date:   2016-12-29 22:23:43
* @Last Modified by:   Marte
* @Last Modified time: 2017-01-06 12:59:10
*/
*{
    padding:0;
    margin:0;
}
ul{
    list-style: none;
}
html,body{
    height:100%;
    background:#caddeb;
    overflow:hidden;
}
body{
    position: relative;
    z-index: -2;
    font-family: "苹方";
}
a{
    text-decoration: none;
}
.sly-yx-bg{
    width:100%;
    height:2.25rem;
    background:url("../images/tx.png")center center/100% auto no-repeat;
    position: absolute;
    bottom:0;
    left:0;
    z-index: -1;
}
.sly-yx-return{
    width:.54rem;
    height:.58rem;
    background:url("../images/return.png") center center/100% auto;
    margin-left: .24rem;
    margin-top: .18rem;
}
.sly-yx-jd{

    width:5.18rem;
    height:0.72rem;
    background:url("../images/jd2.png") center center/100% auto no-repeat;
    margin:0.2rem auto 0;
}
.sly-yx-wel{
    width:5.18rem;
    margin:.66rem auto 0;
    line-height: .42rem;
    padding-left:.34rem ;
}
.sly-yx-one{
    color:#fff;
    font-size: .28rem;
}
.sly-yx-one>i,.sly-yx-one>b{
    font-style: normal;
    display:inline-block;
    width:0.12rem;
    height:0.12rem;
    border-radius: 50%;
    margin: 0 0.05rem;
}
.sly-yx-one>i{
    background:#00c0ff;
    margin-left: 0.5rem;
}
.sly-yx-one>b{
    background:#fffc18;
}
.sly-yx-one>span{
    color:#f60b26;
}
.sly-yx-two{
    color:#fff;
    font-size: .22rem;
}
.sly-yx-line{
    width:5.18rem;
    margin:0 auto;
    height:1px;
    margin: 0.15rem 0;  
    border-bottom: 1px dashed #48dc98;
}
.sly-yx-line:before{
    content:"";
    display:block;
    width:.04rem;
    height:0.04rem;
    border-radius: 50%;
    background:#f6093b;
    float:left;
}
.sly-yx-line:after{
    content:"";
    display:block;
    width:.04rem;
    height:0.04rem;
    border-radius: 50%;
    background:#f6093b;
    float:right;
}
.sly-yx-three{
    color:#fff; 
}
.sly-yx-three:after{
    content:"";
    display:block;
    clear:both;
}
.sly-yx-wel:after{
    content:"";
    display:block;
    clear:both;
}
.sly-yx-span1{
    font-size: .26rem;
    float:left;
}
.sly-yx-span2{
    font-size: .18rem;
    float:right;
}
.sly-yx-pic{
    width: 5.23rem;
    height:3.87rem;
    margin: 0.5rem auto 0;
    background:url("../images/txbg.png") center center/100% auto no-repeat;
    position: relative;
}
.sly-yx-img{
    width:2.68rem;
    height:2.68rem;
    border-radius: 50%;
    background:#fff;
    position: absolute;
    left:50%;
    margin-left: -1.42rem;
    top: 0.8rem;
    border:0.08rem solid #fff;
    overflow: hidden;
}
.sly-yx-img>img{
    width:100%;
    height:auto;
}
.sly-yx-dear{
    text-align: center;
    font-size: 0.36rem;
    color:#f50c3d;
    line-height: .42rem;
}
.sly-yx-dear>span{
    font-size: 0.22rem;
    color:#fff;
}
.sly-yx-btnbox{
    width:6.6rem;
    height:0.9rem;
    margin: 0.8rem auto 0;
    color:#fff;
    text-align: center;
}
.sly-yx-btnbox a{
    color:#fff;
}
.sly-yx-left{
    width:3.1rem;
    height:0.9rem;
    float:left;
    background:url("../../../images/redbtn.png") center center/100% auto no-repeat;
}
.sly-yx-right{
    width:3.1rem;
    height:0.9rem;
    float:right;
    background:url("../../../images/bluebtnd.png") center center/100% auto no-repeat;
}
.sly-yx-shar1{
    font-size: 0.26rem;
    margin-top: 0.1rem;
}
.sly-yx-shar2{
    font-size: 0.18rem;
}
.sly-yx-center{
    border:1px solid transparent;
    width:3.28rem;
    height:0.9rem;
    background:url("../../../images/redbtn.png") center center/100% auto no-repeat;
    margin:0 auto;
}
