body{
    background:#F6F6F6;
}
.zyp_header{
    width:100%;
    height:.9rem;
    padding:0 .24rem;
    box-sizing:border-box;
    background:#91CBDA;
    display:flex;
    justify-content: space-between;
    overflow:hidden;
}
.zyp_header_title{
    width:1.54rem;
    height:.52rem;
    margin:.19rem 0;
    background:url(images/life_title.png) no-repeat center center/cover; 
}
.zyp_header_search{
    width:3.82rem;
    height:.46rem;
    border-radius: .20rem;
    margin:.25rem 0;
    background-color: rgb(246, 246, 246);
    box-shadow: 0 .01rem .10rem 0 rgba(215, 215, 215, 0.75);
    position:relative;
}
.zyp_header_search:before{
    content:'';
    display:block;
    width:.06rem;
    height:.06rem;
    border-radius:50%;
    position:absolute;
    left:.21rem;
    top:50%;
    margin-top:-0.03rem;
    background-color: rgb(145, 203, 218);
}
.zyp_header_search:after{
    content:'';
    display:block;
    width:.35rem;
    height:.34rem;
    background:url(images/search.png) no-repeat center center/cover;
    position:absolute;
    right:.14rem;
    top:.06rem;
}
.zyp_header_search input{
    display:block;
    width:2.9rem;
    height:100%;
    margin:0;
    border:0;
    padding:0;
    margin-left:.4rem;
    background:transparent;
    font-size: .18rem;
    font-family: "PingFang SC";
    color: rgb(49, 49, 49);
    line-height: 1.2;
    outline:none;
}
.zyp_touxiang{
    width:100%;
    height:auto;
    padding:.63rem .24rem 0;
    box-sizing:border-box;
}
.zyp_photo_box{
    width:2rem;
    height:2rem;
    margin:0 auto;
    background:url(images/zyp_circle.gif) no-repeat center center/cover;
    display:flex;
    justify-content: center;
    align-items: center;
}
.zyp_photo_box img{
    width:1.54rem;
    height:1.54rem;
    border-radius:50%;
}
.zyp_dengji{
    width:3.2rem;
    height:.5rem;
    margin:0 auto;
    line-height:.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.zyp_dengji span{
    display:block;
    font-family:'平方';
    font-size:.24rem;
    color:#313131;
}
.zyp_dengji_span i{
    display:inline-block;
    width:.23rem;
    height:.16rem;
    margin-right:.08rem;
    background:url(images/zyp_dengji.png) no-repeat center center/cover; 
}
.zyp_gxqm{
    width:5.8rem;
    height:.4rem;
    margin:0 auto;
    line-height:.4rem;
    overflow:hidden;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.zyp_gxqm span{
    display:block;
    width:auto;
    height:100%;
    font-size:.18rem;
}
.zyp_gxqm .zyp_gxqm_span{
    padding-left:.5rem;
    position:relative;
}
.zyp_gxqm_span:after{
    content:'';
    display:block;
    position:absolute;
    left:.3rem;
    top:.18rem;
    width:.06rem;
    height:.06rem;
    border-radius:50%;
    background-color:#14C621;
}
.zyp_gxqm_span:before{
    content:'';
    display:block;
    position:absolute;
    left:.2rem;
    top:.18rem;
    width:.04rem;
    height:.04rem;
    border-radius:50%;
    background-color:#E91D3F;
}
.zyp_get{
    width:5.8rem;
    height:.62rem;
    margin:0 auto;
    margin-top:.45rem;
    margin-bottom:.84rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.zyp_get_flower{
    width:2.6rem;
    height:.6rem;
    background:url(images/flower.png) no-repeat left top;
    background-size:1.44rem auto;
    border-bottom:1px dashed #40D18D;
    line-height:.1rem;
    text-align:right;
}
.zyp_get_lizhi{
    background:url(images/lizhi.png) no-repeat left top;
    background-size:1.2rem auto;
}
.zyp_get_flower span{
    font-size:.36rem;
    font-family:'San Francisco Display';
    color:#5988E6;
}