
html,body,.swiper-container,.ng-scope{
    height:100%;
}
.swiper-slide{
    width: 100%;
    height: 100%;
}
.swiper-slide a{
    width: 100%;
    height: 100%;
    display: block;
}
.swiper-slide:nth-child(1){
    background: url("yc_images/1_02.png") top center/cover no-repeat;
}
.swiper-slide:nth-child(2){
    background: url("yc_images/2_02.png") top center/cover no-repeat;
}
.swiper-slide:nth-child(3){
    background: url("yc_images/3_02.png") top center/cover no-repeat;
}
.pagination {
  position: absolute;
  z-index: 20;
  left: 45%;
  bottom: 10px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
